:root{
  --bg: #FF3600;
  --text: #19191a;


}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  background: var(--bg);
  font-family: 'Arial', sans-serif;
  color: var(--text);
  text-align: center;

}


.bio{
  padding: 20px;
  text-align: justify;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(80px, 2vw, 100px);
  line-height: 1.2;
  margin:auto

  padding: 3vw

  max-width: 1200px;

margin: 0 auto;



}

img {
  display:block;
  margin: auto;
  height: 50vw;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  

  /*      border: 3px solid blue; */
}

img:hover {
  transform: scale(1.2);
}




