:root{
  --bg: #FF3600;
  --text: #19191a;


}

.geist-<uniquifier> {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  background: var(--bg);
  font-family: "Geist", sans-serif;
  color: var(--text);
  text-align: center;

}

.profilePic{
  position: sticky;
  top: 20px;

}

.bio{
  padding: 20px;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(80px, 2vw, 100px);
  line-height: 1.2;
  margin:auto

  padding: 3vw

  max-width: 1200px;

margin: 0 auto;



}

.bio:hover {
	cursor: url('assets/heart.webp'), auto;

}



img {
  display:block;
  margin: auto;
  height: 50vw;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  

  /*      border: 3px solid blue; */
}

a {
	color: var(--text);
}

a:hover {
	color: #c1c1c7;
 text-decoration: none;
 
}




img:hover {
  transform: scale(1.01);
  filter: blur(10px);
    z-index: 2;
}




